*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("./assets/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height:100vh ;

}

.main-title{
    margin-top: 20px;
    color: white;
    width: 560px;
    height: 100px;
    background-color: rgb(0, 0, 0);
   padding: 25px;
     font-family: "Stack Sans Text", sans-serif;
}

.positioning{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
   
}

.positioning-1{
    background-color: rgba(218, 226, 226, 0.67);
    display: flex;
    width: 500px;
    margin-top: 20px;
    margin-right: 20px;
}

.positioning-2{
    display: flex;
}

.positioning-3{
    padding: 25px;
    font-family: "Libre Baskerville", serif;
    color: rgb(30, 30, 30);
}

img{
    height: 200px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}